<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../layout/head.ejs %>
</head>

<body>

  <%- include ../layout/header.ejs %>

  <h1>WELCOME TO THE BOOK APP</h1>

  <h2><%= bookList.length %> saved books:</h2>
  
  <% bookList.forEach(book => { %>
    <article>
    <%- include ../partials/displayBook.ejs %>
    <a href="/<%= book.id %>">Details</a>
  </article>
  <% }); %>


</body>

</html>